<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/calendar.css">

</head>

<body>

    <div class="info">
        <a class="logout" href="/login" onClick="logout()">Log out</a>
        <label id="userEmail"></label>
    </div>

    <p> WORKING!!</p>


    <script src="/js/main.js"></script>
</body>

</html>