<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Callendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/calendar.css">
    <script src="/jquery/jquery-3.3.1.min.js"></script>
</head>

<body>

    <div class="info">
        <a class="logout" href="/login" onClick="logout()">Log out</a>
        <label id="userEmail"></label>
    </div>

    <div class=" ">
        <div class="">
            <div class="month">
                <ul>
                    <li class="prev"><a class="prevnext" onClick="prevMonth()">&#10094;</a></li>
                    <li class="next"><a class="prevnext" onClick="nextMonth()">&#10095;</a></li>
                    <li> <p id="currentMonth"></p>
                        <br>
                        <span id="currentYear" style="font-size:18px"></span>
                    </li>
                </ul>
            </div>
            <div class="weekbox">
                <ul class="weekdays">
                    <li>Mo</li><li>Tu</li><li>We</li><li>Th</li><li>Fr</li><li>Sa</li><li>Su</li>
                </ul>
                <ul class="days" id="callendar"></ul>
            </div>
        </div>

    </div>

    <script src="/js/main.js"></script>
</body>

</html>