<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/daily_events.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="parent">
    <div class="info">
        <a class="logout" href="/login">Log out</a>
        <label id="userEmail"></label>
    </div>
    <div class="month">
        <ul>
            <li class="prev">
                <a class="prevnext" href="/calendar/<%= '2018-1' %>">&#10094;</a>
            </li>
            <li> <p id="currentDate"></p>
                <br>
                <span id="currentYear" style="font-size:18px"></span>
            </li>
        </ul>
    </div>
    <div>
        <div class="modifybox">
            <p class="boxname">Add your event here:</p>
            <p class="boxtext">Event title:</p>
            <input class="eventinput" type="event title" id="title" placeholder="title">
            <p class="boxtext">Time of event:</p>
            <input class="dateinput" type="datetime" id="start" placeholder="hh:mm">
            <button class="buttons" onClick="submit()">Submit event</button>
        </div>
        <div class="listbox">
            <table class="w3-table w3-striped" id="tabele">
                <tr>
                    <th>Time of event</th>
                    <th>Title of event</th>
                    <th>    </th>
                </tr>
            </table>
        </div>
        
    </div>

    <script src="/js/events.js"></script>
</body>
</html>