<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" >
</head>
<body>

    <div class="container">
            <div class="row">
                <form id="log">
                    <label>LOGIN</label>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="kindalabel" href="/register">Register</a>
        
                </form>
            </div>
        </div>
        


   <!-- <div class="loginform">
        <div class="login">
            <label class="loginlabel" for="loginlabel">Log in</label>
            <a class="kindalabel" href="/register">Sign up</a>
            <input class="email "type="email" id="email" placeholder="login">
            <input class="password" type="password" id="pass" placeholder="password">
            <button class="submitbutton" type="submit" onClick="login()">Log In!</button>
        </div>
    </div> -->
    <script src="/js/login.js"></script>
</body>
</html>