<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
</head>

<body>

<div class="container">
    <div class="row">
        <form id="reg">
            <label>REGISTER</label>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="regEmail" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="regPass" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="kindalabel" href="/login">Log in</a>

        </form>
    </div>
</div>


<!-- 
    <div class="loginform">
        <div class="login">
            <label class="loginlabel" for="loginlabel">Sign up</label>
            <a class="kindalabel" href="/login">Log in</a>
            <input class="email " type="email" name="email" placeholder="login">
            <input class="password" type="password" name="pass" placeholder="password">
            <button class="submitbutton" type="submit">Sign Up!</button>
        </div>
    </div> -->

    <script src="/js/login.js"></script>
</body>

</html>