ul {list-style-type: none;}
body {
    font-family: Verdana, sans-serif;
    margin: 0 0;
}

.info{
    margin: 10px 10px;
}

.logout{

    margin: 20px 20px;
    background-color: white;
    color: rgb(172, 172, 172);
    text-align: center;
    text-decoration: none;
}


label{
    margin: 20px 20px;
    background-color: white;
    color: rgb(10, 7, 7);
    text-align: center;
}

.logout:hover{
    color:black;    
}

.prevnext{
    color: white;
    text-decoration: none;
}

/* Month header */
.month {
    /* padding: 70px 25px; */
    width: 100%;
    background: #66e6d0;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3%;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
    cursor: pointer;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
    cursor: pointer;
}


/* Weekdays (Mon-Sun) */
.weekdays {
    width: 100%;
    margin: 0 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    color: #666;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
}

/* Days (1-31) */
.days {
    width: 100%;
    padding: 10px 0;
    background: #eee;
    margin: 0 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white;
}

.days li .active2{
    padding: 5px;
    background: rgb(80, 80, 80);
    color: white;
}

.day{
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
    color: #777;
    text-decoration: none;
    padding: 5px;
}

.day .active{

    background: #1abc9c;
    color: white; 
}

.day .active2{

    background: rgb(80, 80, 80);
    color: white;
}

.day:hover{
    color:rgb(24, 23, 23) !important;
}

.weekbox{
    padding: 0 0;
    margin: 0 0;
}