ul {list-style-type: none;}
body {
    font-family: Verdana, sans-serif;
    margin: 0 auto;
}



.info{
    margin: 10px 10px;
}

.logout{

    margin: 20px 20px;
    background-color: white;
    color: rgb(172, 172, 172);
    text-align: center;
    text-decoration: none;
}

label{
    margin: 20px 20px;
    background-color: white;
    color: rgb(10, 7, 7);
    text-align: center;
}

.logout:hover{
    color:black;    
}

.prevnext{
    color: white;
    text-decoration: none;
}

/* Month header */
.month {
    padding: 70px 25px;
    width: 93,5%;
    background: #66e6d0;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

.modifybox{
    display: flex;
    width: 25%;
    /* height: 220px; */
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(194, 194, 194);
    text-align: center;
    float: left;
    margin: 4% 4%;
    padding: 2% 2%;
    flex-direction: column;
    align-items: center;
}

.boxname{
    font-size: 30px;
}

.boxtext{
    font-size: 20px;
}


.buttons{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.eventinput{
    width: 40%;
}

.dateinput{
    width: 20%;
}

.listbox{
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(194, 194, 194);
    width: 50%;
    float: right;
    margin: 4% 4% 4% 0%;
    padding: 2% 2%;
}

.eventlist{
    padding: 2%;
}
