body {
    font-family: Verdana, sans-serif;
    margin: 0 auto;
}

.loginform {
    font-size: 20px;
    display: block;
    width: 300px;
    height: 220px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(194, 194, 194);
    text-align: center;
    margin: 100px auto;
    padding: 2% 0;
}

.login{
    /* padding: 10% 0; */
    margin: 30px

}
.submitbutton{
    /* display: block; */
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

.loginlabel{
    /* display: block; */ 
    /* margin-left: 10px;
    margin-right: 10px; */
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;

}

.email{
    /* display: block; */
    width: 220px;
    margin-top: 10px;
    font-size: 20px;
    font-family: Verdana, sans-serif;

}

.password{
    width: 220px;
    margin-top: 5px;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    /* display: block; */
}

.kindalabel{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    color: rgb(172, 172, 172);
    text-align: center;
    text-decoration: none;
}

.kindalabel:hover{
   color: black; 
}

.row {
    justify-content: center;
}

#reg, #log {
   font-size: 20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(194, 194, 194);
    text-align: center; 
    margin: 100px auto;
     padding: 2% 50px;
}